<h1>New User</h1>
<p>&nbsp;</p>
<%= form_for @user, { :class => 'form-horizontal' } do |u| %>
	<div class="control-group">
		<%= u.label :name, { :class => 'control-label' } %>
		  <%= u.text_field :name, { :class => 'controls' } %>
	</div>
	<div class="control-group">
		<%= u.label :email, { :class => 'control-label' } %>
		<div class="controls">
		  <%= u.text_field :email %>
		</div>
	</div>
	<div class="control-group">
		<%= u.label :email_confirmation, { :class => 'control-label' } %>
		<div class="controls">
		  <%= u.text_field :email_confirmation %>
		</div>
	</div>	
	<div class="control-group">
		<%= u.label :twitter, { :class => 'control-label' } %>
		<div class="controls">
		  <%= u.text_field :twitter %>
		</div>
	</div>
	<div class="control-group">
		<%= u.label :website, { :class => 'control-label' } %>
		<div class="controls">
		  <%= u.text_field :website %>
		</div>
	</div>
	<div class="control-group">
		<%= u.label :bio, { :class => 'control-label' } %>
		<div class="controls">
		  <%= u.text_area :bio, :size => "60x6" %>
		</div>
	</div>
	<div class="controls">
		<label class="checkbox"><%= u.check_box :postanonymously %>Post as anonymous </label><br />
		<%= u.submit "Create", { :class => "btn btn-inverse" } %>
	</div>
	<p></p>
<% end %>

<hr />
<p><%= link_to "Cancel and return to All Users", users_path, { :class => "btn btn-primary" } %></p>
