<h1><%= @post.title %></h1>
<p><i>by <%= @post.user.name %></i><p>

<p><%= @post.content %></p>

<p>Last updated: <%= @post.updated_at %>

<hr />
<h2>Comments</h2>

<h5>Comment on this post</h5>
<%= form_for [@post, @newcomment] do |nc| %>
	<p>
		<%= nc.text_area :content %>
	</p>
	<p>
		<%= nc.submit "Create", { :class => "btn btn-inverse" } %>
	</p>
<% end %>

<hr />

<% @comments.each do |comment| %>
    <h4><%= link_to comment.user.name, user_comments_path(comment.user) %></h4>
    <p><%= comment.content %></p>
<% end %>
<hr />
<p><%= link_to 'Edit this post', edit_post_path, { :class => "btn btn-warning" } %></p>
<p></p>
<p><%= link_to "<- Back to All Posts", posts_path, { :class => "btn btn-primary" } %></p>